{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<style>
    .example-wrapper {max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class = 'navbar'> 
    <h5>Color scheme of the page is green with cool camp image in the back ground</h5>
</diiv>


<div class="My Image">
    <h1>put my image here</h1>
</div>

<div class = 'elevator-pitch' >
    <h5>At this point I describe who I am through an elevator pitch of myself</h5>
</div>

<div class = 'put-cool-images' >
    <h5>Add images for my experiences, projects and other stuff sake with a link to another page I have made of myself</h5>
</div>

<div class = 'general info' >
    <h5>My general information</h5>
</div>

<div> test for {{controller_name }} </div>

{% endblock %}
