{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<style>
    .example-wrapper {max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class = 'navbar'> 
    <h5>Color scheme of the page is green with cool camp image in the back ground</h5>
</diiv>


<div class="My Image">
    <h4>Complete change in concept testing out different functionalities I can add</h4>

    <ui>
    <a  href = '/cron' >Cron job concept</a>
    <li>Form system using symfony/forms package</li>
    <li>TDD</li>
    </ui>

</div>

<div> test for {{controller_name }} </div>
<nav class="navbar bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Navbar</span>
  </div>
</nav>

{% endblock %}
