{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<style>
    .example-wrapper {max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class = 'navbar'> 
    <h5>Color scheme of the page is green with cool camp image in the back ground</h5>
</diiv>


<div class="My Image">
    <h4>Build a cron job task on this page to see how it works</h4>
</div>

<div> test for {{controller_name }} </div>

{% endblock %}
